<!--This is the add item page.-->
<include href="views/header.html">
    <div class="container col-lg-3">
        <form action="#" method="post">
            <label for="itemName"><strong>Item Name: </strong>
                <input id="itemName" type="text" class="form-control" name="itemName" value="{{ @itemName}}">
            </label><br>
            <check if="{{ @errors['itemName'] }}">
                <span class="err">{{ @errors['itemName'] }}</span>
            </check>
            <label for="itemPrice"><strong>Item Price: </strong>
                <input id="itemPrice" type="text" class="form-control" name="itemPrice" value="{{ @itemPrice}}">
            </label><br>
            <check if="{{ @errors['itemPrice'] }}">
                <span class="err">{{ @errors['itemPrice'] }}</span>
            </check>

            <check if="{{@SESSION['premium']}} = 'true'">
                <label for="phone"><strong>Seller Phone Number: </strong>
                    <input id="phone" type="text" class="form-control" name="phone" value="{{ @phone}}" required>
                </label>
                <check if="{{ @errors['phone'] }}">
                    <span class="err">{{ @errors['phone'] }}</span>
                </check>
            </check>
            <label for="itemDescription"><strong>Item Description: </strong>
                <input id="itemDescription" type="text" class="form-control" name="itemDescription"
                       value="{{ @itemDescription}}">
            </label><br>
            <check if="{{ @errors['itemDescription'] }}">
                <span class="err">{{ @errors['itemDescription'] }}</span>
            </check>


            <button class="btn btn-lg btn-primary btn-block" type="submit">Post Item</button>
        </form>
    </div>
    <include href="views/footer.html">