<!--/**-->
<!--*author: Rajpreet Dhaliwal and Nick Gadomskiy-->
<!--* 1/23/20-->
<!--This show all the current users.-->
<include href="views/header.html">
    <div class="container">
        <h3>Member Database</h3>

        <table id="memberData" class="display">
            <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>State</th>
                <th>Premium</th>
            </tr>
            </thead>
            <tbody>
            <repeat group="{{ @memberInfo }}" value="{{ @member }}">
                <tr>
                    <th>{{ @member['lsmember_id'] }}</th>
                    <th>{{ @member['first_name'] }}</th>
                    <th>{{ @member['last_name'] }}</th>
                    <th>{{ @member['email'] }}</th>
                    <th>{{ @member['state'] }}</th>
                    <th><input type="checkbox"
                        <check if="{{ @memeber['premium'] }} = '1'">
                            checked = "checked"
                        </check>
                    </th>
                </tr>
            </repeat>
            </tbody>
        </table>
    </div>

    <script src="//code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <!--<script src="//cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>-->
    <script>

        $('#memberData').DataTable({
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.modal({
                        header: function (row) {
                            var data = row.data();
                            //return 'Details for '+data[0]+' '+data[1];
                            return 'Details for ' + data[0];
                        }
                    }),
                    renderer: $.fn.dataTable.Responsive.renderer.tableAll({
                        tableClass: 'table'
                    })
                }
            },
            order: [[1]]
        });
    </script>

    <include href="views/footer.html">