<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--    <link rel="stylesheet" href="../final-project/styles/signin.css">-->
    <link rel="stylesheet" href="../final-project/styles/styles.css">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../final-project/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../final-project/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../final-project/favicon/favicon-16x16.png">
    <link rel="manifest" href="../final-project/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>Lets Sell</title>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark container-fluid">
    <a class="navbar-brand font-weight-bold h1" href="../final-project">Let's Sell</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    </ul>
    <form class="form-inline my-2 my-lg-0 pr-1" action="create" method="get">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign-up</button>
    </form>
    <form class="form-inline my-2 my-lg-0" action="login" method="post">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
    </form>
    <form class="form-inline my-2 my-lg-0" action="admin" method="get">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Admin</button>
    </form>
</nav>
