<!--/**-->
<!--*author: Rajpreet Dhaliwal and Nick Gadomskiy-->
<!--* 1/23/20-->
<!--This is the header shortcut.-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
    <!--    <link rel="stylesheet" href="../final-project/styles/signin.css">-->
    <link rel="stylesheet" href="../final-project/styles/styles.css">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../final-project/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../final-project/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../final-project/favicon/favicon-16x16.png">
    <link rel="manifest" href="../final-project/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>Lets Sell</title>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand font-weight-bold h1" href="../final-project">Let's Sell</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li>
            <a class="nav-link" href="sellingDB">View Item's</a>
        </li>
        <check if="{{ @SESSION['user'] }}">
            <true>
                <li>
                    <a class="nav-link" href="addItem">Sell Item</a>
                </li>
                <li>
                    <a class="nav-link text-left" href="logout">logout</a>
                </li>
            </true>
            <false>
                <li>
                    <a class="nav-link text-left" href="create">Sign-up</a>
                </li>
                <li>
                    <a class="nav-link text-left" href="login">Login</a>
                </li>
                <li>
                    <a class="nav-link text-left" href="admin">Admin</a>
                </li>
        </check>
    </ul>
    </div>
</nav>
