<!--/**-->
<!--*author: Rajpreet Dhaliwal and Nick Gadomskiy-->
<!--* 1/23/20-->
<!--* /final-project/views/home.html-->
<!--* home page of the final project-->
<!--*/-->

<include href="views/header.html">


    <div class="all">
        <div class="image">
            <img src="../final-project/images/logo.jpg" alt="logo image">
        </div>

        <div class="content">
            <h1><strong>One mans trash is another mans treasure.</strong></h1>
            <p>Welcome to the online community that sells, swaps, and gives stuff away if they can't
                make money off of it. Our community is friendly and from all walks of life. If you can't
                find what your looking for here, then you might as well give up searching.</p>

            <hr>
            <div class="quotes">
                <h3>Benefits of selling with us:</h3>
                <ul>
                    <li>We dont take any commission.</li>
                    <li>Your post stays up until you remove it yourself.</li>
                    <li>We monitor all sales to root out the scammer's.</li>
                    <li>We love to watch people make extra money.</li>
                </ul>
            </div>
            <hr>

            <h2>Posting your trash/treasure is just one click away.</h2>

            <form action="create" method="get" class="text-center">
                <button type="submit" id="create" class="btn btn-primary btn-lg">Create an account to start selling!
                </button>
                </a>
            </form>

        </div>
    </div>
    <include href="views/footer.html">