<!--/**-->
<!--*author: Rajpreet Dhaliwal and Nick Gadomskiy-->
<!--* 1/23/20-->
<!--* /final-project/views/home.html-->
<!--* home page of the final project-->
<!--*/-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../final-project/styles/styles.css">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../final-project/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../final-project/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../final-project/favicon/favicon-16x16.png">
    <link rel="manifest" href="../final-project/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>Lets Sell</title>
</head>
<body>
<div class="nav">
    <ul>
        <li>
            <a href="home.html">Lets Sell</a>
        </li>
    </ul>
</div>


<div class="all">
    <div class="image">
        <img src="../final-project/images/logo.jpg" alt="logo image">
    </div>

    <div class="content">
        <h1><strong>One mans trash is another mans treasure.</strong></h1>
        <p>Welcome to the online community that sells, swaps, and gives stuff away if they can't
        make money off of it. Our community is friendly and from all walks of life. If you can't
        find what your looking for here, then you might as well give up searching.</p>

        <hr>
        <div class="quotes">
            <h3>Benefits of selling with us:</h3>
            <ul>
                <li>We dont take any commission.</li>
                <li>Your post stays up until you remove it yourself.</li>
                <li>We monitor all sales to root out the scammers.</li>
                <li>We love to watch people make extra money.</li>
            </ul>
        </div>
        <hr>

        <h2>Posting your trash/treasure is just one click away.</h2>

        <div class="button">
            <button type="button" class="btn btn-primary">Sell your Trash/Treasure!</button>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>