<include href="views/header.html">
    <div class="container">
        <h3>Items Database</h3>

        <table id="itemData" class="display">
            <thead>
            <tr>
                <th>ID</th>
                <th>Item Name</th>
                <th>Item Description</th>
                <th>Item Price</th>
            </tr>
            </thead>
            <tbody>
            <repeat group="{{ @itemInfo }}" value="{{ @item }}">
                <tr>
                    <th>{{ @item['Item_id'] }}</th>
                    <th>{{ @item['Item_name'] }}</th>
                    <th>{{ @item['Item_desc'] }}</th>
                    <th>{{ @item['Item_price'] }}</th>
                </tr>
            </repeat>
            </tbody>
        </table>
    </div>

    <script src="//code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <!--<script src="//cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>-->
    <script>

        $('#itemData').DataTable( {
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.modal( {
                        header: function ( row ) {
                            var data = row.data();
                            //return 'Details for '+data[0]+' '+data[1];
                            return 'Details for '+data[0];
                        }
                    } ),
                    renderer: $.fn.dataTable.Responsive.renderer.tableAll( {
                        tableClass: 'table'
                    } )
                }
            },
            order: [[1]]
        } );
    </script>

<include href="views/footer.html">