<!--/**-->
<!--*author: Rajpreet Dhaliwal and Nick Gadomskiy-->
<!--* 1/23/20-->
<!-- This is the item summary page before an item gets posted.-->
<include href="views/header.html">
    <div class="container" id="summary">
        <p>Item Name: {{ @SESSION.itemName }}</p>
        <hr>
        <p>Item Description: {{ @SESSION.itemDescription }}</p>
        <hr>
        <p>Item Price: {{ @SESSION.itemPrice }}</p>
        <hr>
        <p>Item Phone: {{ @SESSION.itemPhone }}</p>
    </div>
    <form class="form-inline my-2 my-lg-0" action="sellingDB" method="get">
        <a href="sellingDB">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Post item</button>
        </a>
    </form>
    <include href="views/footer.html">